---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About the project">
    <h1 class="text-white">About the project</h1>
    
    <p> The SpaceX launches projects is a demo for learning Atro</p>
</Layout>